body {
	font-family: Open Sans;
}
ul {
	list-style: none;
}

@media screen and (max-width:800px){
.main-wrapper {
	display:grid;
	grid-template-columns: 5% 1fr 5%;
        height:190vh;
	grid-template-rows: 5% 20vh 5vh 1fr 1fr 1fr 1fr 2fr; 
}
.main-wrapper .Header {
	display: flex;
        grid-column: 2/3;
        grid-row:0/0;
	flex-direction: row;
        padding:10px;
	width:100%;
}

.main-wrapper .Description {
	grid-column: 2/3;
	grid-row:2/3; 
        font-size:3vh;
        display:flex;
        justify-content:center;
        align-items:center;
}
.main-wrapper .Description .signup {
align-self: flex-end;
}
a {
	text-decoration:none;
	font-size:medium;
	color:#fff;
}
.main-wrapper .Grey-Stripe {
        z-index:-1;
        grid-column:1/4;
        grid-row:2/3;
        background: #bababa;
}
.main-wrapper .Summarize {
	grid-row:6/7;
	font-size:2vh;
	grid-column: 2/3;
	padding:0.1em;
        text-align:center;
        margin-top:2px;
}
.main-wrapper .Benefits {
        justify-content:center;
        align-items:center;
        grid-column:2/3;
        grid-row:4/5;
       }
.main-wrapper .Signup{
	grid-row:8/8;
	grid-column:2/3;
	align-self:center;
}
.main-wrapper .Benefits > * {
        padding:15px;
	font-size:1.5vh;
	background:rgba(1,1,1,0.15);
	border-radius:4px;
	box-shadow: 0px 1px 1px #666;
}
.main-wrapper .screenshots{
	padding:2%;
        grid-column:2/3;
        grid-row:5/6;
}
.Benefits{
        display:flex;
	flex: 1 1 0;
        flex-direction: row;
}
.Benefits >* 
{ margin: 0 5px; } 
.subscribe-input{
	font-size:2em;
}
.subscribe-submit{
	font-size:2em;
}
.screenshots > * > img {
   height:95vh;
}

.benefit:hover {
  background: #33C3F0;
  cursor: pointer;
}

.screenshot{
  display:none;
  text-align:center;
}

.screenshot.active{
  display:block;
}
.benefit.active {
  background: #33C3F0;
  box-shadow: 0px 2px 2px #666;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 400px;
  margin: 10% auto;
  padding: 10px 20px;
  border-style:solid;
  border-width:thin;
  border-radius: 8px;
  border-color: #666;
}

input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(1,1,1,0.1);
  color: #666;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 10px 25px 8px 20px;
  cursor:pointer;
  color: #FFF;
  background-color: #339eef;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 3px 3px #666;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.3em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

}
